.accordion{
   padding-block: var(--section-padding-block);
}

.accordion > h2{
   margin-bottom: 1.5em;
   
   font-family: var(--ff-calistoga);
   font-weight: var(--fw-1);
   font-size: var(--fs-4);
   line-height: 1.3;
   text-align: center;
}

.accordion button{
   position: relative;
   
   width: 100%;
   padding: .5em;
   background-color: var(--colorMain);
   border: none;
   outline: transparent;

   color: var(--colorText);
   font-family: var(--ff-raleway);
   font-weight: var(--fw-3);
   font-size: var(--fs-3);
   line-height: 1.17;
   text-align: left;

   cursor: pointer;
}

.accordion button::after{
   content: '';

   position: absolute;
   right: .5em;
   top: 50%;
   transform: translateY(-50%);

   width: 0;
   height: 0;
   border-top: .5em solid var(--colorText);
   border-left: .25em solid transparent;
   border-right: .25em solid transparent;

   transition: transform 1s ease-in-out;
}

.accordion button:hover{
   filter: brightness(.75);
}

.accordion button:focus-visible{
   filter: brightness(.5);
}

.accordion button[aria-expanded="true"]{
   background-color: var(--colorText);

   color: var(--colorMain);

   filter: brightness(1);
}

.accordion button[aria-expanded="true"]::after{
   border-top: .5em solid var(--colorMain);

   transform: translateY(-50%) rotate(180deg);
}

.accordion li > div{
   max-height: 0;

   overflow: hidden;

   transition: max-height 1s cubic-bezier(0, 1, 0, 1);
}
/*There was a delay in the return. The max-height being too big makes a difference when we start seeing the animation
https://stackoverflow.com/questions/18087098/how-to-remove-delay-on-css3-slide-out-transition-which-uses-max-height-transitio
It's because you're animating between 0 and 1000px max height but your content is only about 120px high. The delay is the animation happening on the 880 pixels that you can't see.
*/

.accordion li > div.show-content{
   max-height: 100vh;

   transition: max-height 2s linear;
}

.accordion p{
   position: relative;

   padding: .8em;

   color: var(--colorText);
   font-family: var(--ff-raleway);
   font-weight: var(--fw-2);
   font-size: var(--fs-2);
   line-height: 2;
   text-align: left;
}

.accordion p::before{
   content: '';

   position: absolute;
   inset: 0;
   z-index: -1;

   background-color: var(--colorMain);

   opacity: .5;
}

.accordion a{
   font-weight: var(--fw-4);
   color: var(--colorText);
   text-decoration: none;
}

/*1024px*/
@media screen and (min-width: 64em) {
   .accordion ul{
      width: 80%;
      margin-inline: auto;
   }
}