.banner{
   display: flex;
   align-items: center;
   
   height: 75vw;
   max-height: 60vh;
   background-image: url('../images/imageBoreal.webp');
   background-size: 115%;
   background-position: left 50% top -6vw;
   background-repeat: no-repeat;
   background-attachment: fixed;
}

.banner--second{
   height: 93.9vw;
   max-height: 60vh;

   background-image: url('../images/guitar.webp');
   background-attachment: unset;
   background-size: cover;
   background-position: center;
   mix-blend-mode: hard-light;
}

.banner--experiencia,
.banner--setores{
   position: relative;

   background-image: none;

   isolation: isolate; 
   /*This is important to create a new stacking context. h1 is z-index 1, as the header. Isolate makes its z-index z-index 1 inside its parent z-index 0, thus behind anything that comes from the header*/
}

.banner--experiencia::after{
   content: '';

   position: absolute;
   z-index: 0;
   
   width: 100%;
   height: 100%;   
   background-image: url('../images/experiencia.webp'),  conic-gradient(from 215deg at 15% 85%, #000000 -25%, #ffffff 200%);
   background-size: cover;
   background-position: center;
   background-blend-mode: multiply;
}

.banner--setores::after{
   content: '';

   position: absolute;
   z-index: 0;
   
   width: 100%;
   height: 100%;   
   background-image: url(../images/setores-banner.webp), var(--gradient-1);
   background-size: 275%;
   background-position: left 85% top -35vh, 100%;
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-blend-mode: multiply;
}

.banner--informacoes{
   position: relative;
   
   background-image: url('../images/accordion.webp');
   background-attachment: unset;
   background-size: cover;
   background-position: center;

   isolation: isolate;
}

.banner--informacoes::after,
.banner--ingressos::after{
   content: '';

   position: absolute;
   inset: 0;

   background-image: var(--gradient-1);

   mix-blend-mode: multiply;
}

.banner--ingressos{
   position: relative;
   
   background-image: url('../images/banner-formulario.webp');
   background-attachment: unset;
   background-size: cover;
   background-position: center;

   isolation: isolate;

}

.banner > h1{
   width: 100%;
   background-image: var(--gradient-2);
   -webkit-background-clip: text;
   background-clip: text;
   background-size: 500%;
   background-position: 100%;

   color: transparent;
   font-family: var(--ff-calistoga);
   font-weight: var(--fw-1);
   font-size: var(--fs-5);
   line-height: 1.25;
   text-align: center;

   animation-name: background-slide;
   animation-duration: 20s;
   animation-timing-function: linear;
   animation-iteration-count: infinite;
   animation-delay: 1s;
}

@keyframes background-slide{
   to{
      background-position: 0%;
   }
}

.banner--experiencia > h1,
.banner--setores > h1,
.banner--informacoes > h1,
.banner--ingressos > h1{
   z-index: 1;
}

.banner > h1 > span{
   display: block;

   color: var(--colorText);
}

/*512px*/
@media  (min-width: 32em) {
   .banner{
      background-size: 100%;
      background-position: left 50% top -15vw;
   }   

   .banner--second,
   .banner--informacoes,
   .banner--ingressos{
      background-size: cover;
      background-position: center;
   }

   .banner--experiencia::after{
      background-size: cover;
      background-position: top;
   }

   .banner--setores::after{
      background-size: 200%;
   }
}

/*720px*/
@media screen and (min-width: 45em) {
   .banner{
      max-height: 67.4vh;   
   }

   .banner--second{
      max-height: 59.3vh;
   }
}

/*1024px*/
@media screen and (min-width: 64em) {
   .banner{
      max-height: 64.3vh;
      
      background-position: left 50% top -47.5vw;
   }

   .banner--second{
      max-height: 59.3vh;
      
      background-position: left 50% bottom 60%;
   }

   .banner--experiencia::after{
      background-position: top;
   }

   .banner--setores::after{
      background-size: 150%;
      background-position: left 70% bottom 0, 100%;
   }

   .banner--informacoes,
   .banner--ingressos{
      background-position: left 50% bottom 25%;
   }
}