.general-info{
   padding-block: var(--section-padding-block);
}

.general-info > div{
   height: 105.6vw;
   max-height: 85vh;
   background-image: url('../images/musicians.webp');
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   border-radius: 4.5vw;
   margin-bottom: var(--section-padding-block);
}

.general-info > article{
   font-family: var(--ff-raleway);
   text-align: center;
}

.general-info > article > h2{
   margin-bottom: .75em;

   font-weight: var(--fw-3);
   font-size: var(--fs-3);
   line-height: 1.2;
}

.general-info > article > p{
   margin-bottom: 0.92em;
   
   font-weight: var(--fw-2);
   font-size: var(--fs-1);
   line-height: 2;
}

.general-info > article > a{
   display: inline-block;
   
   width: 100%;
   max-width: 20.5em;
   padding-block: .5em;
   background-color: var(--colorMain);
   border-radius: .75em;

   box-shadow: .2em .2em .1em var(--colorShadow);
   
   color: var(--colorText);
   font-weight: var(--fw-3);
   font-size: var(--fs-1);
   line-height: 2;
   text-decoration: none;
}

.general-info > article > a::after{
   content: '';

   display: inline-block;

   position: relative;
   right: -.75em;
   bottom: -.3em;

   width: var(--fs-2);
   height: var(--fs-2);
   background-image: url('../images/buyIcon.svg');
   background-repeat: no-repeat;
   background-size: contain;
   background-position: 50% 50%;
}

/*720px*/
@media screen and (min-width: 45em) {
   .general-info{
      padding-inline: 2.25%;
   }
}

/*1024px*/
@media screen and (min-width: 64em) {
   .general-info{
      display: flex;
      align-items: center;
      gap: 4.25vw;

      padding-inline: 0;
   }

   .general-info > div{
      width: 53%;
      height: 26.4vw;
      max-height: 60.1vh;
      margin-bottom: 0;
   }

   .general-info > article{
      width: 47%;
   }

   .general-info > article > a{
      width: 50%;
      max-width: unset;
      min-width: 15em;
   }
}