header{
   position: relative;
   
   --padding-header: calc(var(--fs-1) * 2);
   padding-block: var(--padding-header);
   background-color: var(--colorMain);
}

header::after{
   content: '';

   position: absolute;
   inset: 0;
   background-color: var(--colorMain);
}

header nav > ul{
   display: flex;
   justify-content: space-between;
   align-items: center;
}

header > nav > ul :is(a, label){
   position: relative;
   z-index: 1;
}

header nav a > img{
   width: min(65vw, 15rem + 3vw);
}

header input[type="checkbox"]{
   display: none;
}

header label{
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;

   --label-size: var(--fs-5);
   height: var(--label-size);
   width: var(--label-size);
}

header label > div{   
   width: 75%;
   height: 9%;
   background-color: var(--colorText);
}

.menu-options{   
   position: absolute;
   top: 0;
   right: 0;

   padding: var(--fs-1);
   background-color: var(--colorMain);
   
   transform: translateY(-100%);
   transition: top 1s ease-in, transform 1s ease-in;
}

.menu-options li{
   position: relative;

   padding-block: .5em;

   font-size: var(--fs-1);
   text-align: center;
}

.menu-options li:first-child{
   padding-top: 0;
}

.menu-options li:last-child{
   padding-bottom: 0;
}

.menu-options li:not(:last-child)::after{
   content: '';

   display: block;

   position: absolute;
   bottom: 0;
   left: 50%;
   transform: translateX(-50%);

   height: 1px;
   width: 90%;
   background-color: var(--colorText);
}

.menu-options a{
   color: var(--colorText);
   font-family: var(--ff-raleway);
   font-weight: var(--fw-3);
   font-size: var(--fs-1);
   line-height: 2;
   text-decoration: none;
}

input:checked + label + .menu-options{
   top: 100%;
   transform: translateX(0);

}

/*720px*/
@media screen and (min-width: 45em) {
   header nav > ul{
      flex-direction: column;
      gap: var(--padding-header);
   }

   nav > ul > li{
      width: 100%;
   }

   header nav a > img{
      margin-inline: auto;
   }
   
   header label{
      display: none;
   }

   .menu-options{   
      display: flex;
      justify-content: space-between;
      align-items: center;
      
      position: relative;
      top: unset;
      right: unset;

      padding: 0;
      
      transform: unset;
      transition: unset;
   }

   .menu-options > li{
      padding-block: 0;
   }  
}

/*1024px*/
@media screen and (min-width: 64em) {
   header nav > ul{
      flex-direction: row;
      justify-content: space-between;
      gap: 0;
   }

   nav > ul > li{
      width: auto;
   }

   .menu-options{
      gap: 1.6em;

      font-size: var(--fs-1);
   }
}