:root{
   --colorMain: #4650BD;
   --colorSec: #008364;
   
   --colorText: #ffffff;

   --colorShadow: #444444;

   --gradient-1: linear-gradient(#304968, #36C1A0 50% 70%, #4650BD);
   --gradient-2: linear-gradient(160deg, #ffffff 20%, #4650BD, #36C1A0, #304968, #ffffff 80%);
   --gradient-3: linear-gradient(135deg,  #4650BD, #36C1A0, #304968 50%, #ffffff 50%);

   --ff-calistoga: 'Calistoga', cursive;
   --ff-raleway: 'Raleway', sans-serif;

   --fw-1: 400;
   --fw-2: 500;
   --fw-3: 700;
   --fw-4: 800;

/*Done with 320 - 1440 */
   --fs-1: clamp(0.88rem, calc(0.77rem + 0.54vw), 1.25rem);/*14px - 20px*/
   --fs-2: clamp(1.09rem, calc(0.93rem + 0.82vw), 1.67rem);/*17px - 26px*/
   --fs-3: clamp(1.37rem, calc(1.12rem + 1.22vw), 2.22rem);/*21px - 35px*/
   --fs-4: clamp(1.71rem, calc(1.35rem + 1.79vw), 2.96rem);/*27px - 47px*/
   --fs-5: clamp(2.14rem, calc(1.62rem + 2.59vw), 3.95rem);/*34px - 63px*/

/*Done with 320 - 2560. Check if it fits with 360 and 1440 view */
   --fs-1: clamp(0.94rem, calc(0.86rem + 0.40vw), 1.50rem); /*15px a 24px*/
   --fs-2: clamp(1.13rem, calc(1.00rem + 0.62vw), 2.00rem);/*18px a 31.99px */
   --fs-3: clamp(1.35rem, calc(1.16rem + 0.94vw), 2.67rem);/*21.6px a 42.65px*/
   --fs-4: clamp(1.62rem, calc(1.34rem + 1.38vw), 3.55rem);/*25.92px a 58.65px*/
   --fs-5: clamp(1.94rem, calc(1.54rem + 1.99vw), 4.74rem);/*31.1px a 75.78px*/


   --container-width: 86.5%;

   --section-padding-block: calc(var(--fs-2) * 1.93);
}

/*Utility classes*/
.container{
   width: var(--container-width);
   margin-inline: auto;
}

::selection{
   background-color: var(--colorMain);

   color: var(--colorText);
}

body{
   background-image: var(--gradient-1);
   background-repeat: no-repeat;

   color: var(--colorText);
}

@media screen and (min-width: 45em) {
   :root{
      --container-width: 84%;
   }
}