footer{
   padding-top: var(--section-padding-block);
   padding-bottom: calc(var(--fs-2) * 1.35);
   background-color: var(--colorMain);

   text-align: center;
}

footer ::selection{
   background-color: var(--colorText);

   color: var(--colorMain);
}

footer h2,
footer h3{
   margin-bottom: calc(var(--fs-1) / 2);
}

footer address{
   margin-bottom: calc(var(--fs-1) * 2.5);
}

footer address > h3{   
   font-family: var(--ff-raleway);
   font-weight: var(--fw-2);
   font-size: var(--fs-2);
   line-height: 2;
}

footer address > ul{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: var(--fs-5);
}


footer address li{
   font-size: var(--fs-5);
   width: 1em;
   height: 1em;
   background: var(--gradient-3);
   background-size: 200% 200%;
   background-position: 100% 100%;
   background-repeat: no-repeat;
   transition: background-position .75s ease-in-out;

   cursor: pointer;
}

footer address li:nth-child(1){
   -webkit-mask: url('../../images/linkedin.svg');
   -webkit-mask-size: contain;
}

footer address li:nth-child(2){
   -webkit-mask: url('../../images/github.svg');
   -webkit-mask-size: contain;
}

footer address li:nth-child(3){
   -webkit-mask: url('../../images/whatsapp.svg');
   -webkit-mask-size: contain;
}

footer address li:nth-child(4){
   -webkit-mask: url('../../images/twitter.svg');
   -webkit-mask-size: contain;
}

footer address li:nth-child(5){
   -webkit-mask: url('../../images/instagram.svg');
   -webkit-mask-size: contain;
}

footer address li:hover{   
   background-position: 0 0;
}

footer address li > a{
   display: inline-block;
   width: 100%;
   height: 100%;
}

footer p{
   font-family: var(--ff-raleway);
   font-weight: var(--fw-2);
   font-size: var(--fs-1);
   line-height: 1.75;
}

/*720px*/
@media screen and (min-width: 45em) {
   footer address{
      display: flex;
      justify-content: center;
      align-items: flex-start;
      gap: calc(var(--fs-1) / 2);   
   }

   footer address > h3{
      margin-bottom: 0;
   }

   footer address > ul{
      gap: calc(var(--fs-1) / 2); 
   }

   footer address li{
      font-size: calc(var(--fs-2) * 1.75);
   }
}

/*1024px*/
@media screen and (min-width: 64em) {
   footer > .container > div:first-of-type{
      display: flex;
      justify-content: space-between;
      align-items: center;

      margin-bottom: 10vh;
   }

   footer h2,
   footer address{
      margin-bottom: 0;
   }
}